body {
    font-family: 'inter', sans-serif;
}

.hero {
    background-color: #043873;
    width: 100%;
    background-image: url("./img/Element.svg");
    background-position: center 258px;
    background-repeat: no-repeat;
}

.container {
    max-width: 1480px;
    margin: 0 auto;

}

.logo-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 37px;
    width: 29px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-wraper a {
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 32px;
    padding: 34px 0;
    margin-left: auto;
    margin-right: 60px;
}

.links li {
    display: flex;
    gap: 10px;
}

.links li a {
    color: #ffffff;
    font-size: 18px;
    transition: border-bottom-color 200ms;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 200ms;
    display: flex;
    align-items: center;
    gap: 10px;

}

.links a:hover{
    border-bottom-color: white;
}

.login {
    background-color: #FFE492;
    border: none;
    border-radius: 8px;
    padding: 16px 40px;
    color: #043873;
    transition: background-color 200ms;
    font-size: 18px;
}

.login:hover {
    background-color: #e6cd83;
    cursor: pointer;
}

.whitespace-free img {
    width: 10px;
    height: 10px;
}

.whitespace-free {
    border: none;
    border-radius: 8px;
    background-color: #4F9CF9;
    padding: 16px 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    transition: background-color 200ms;
    font-size: 18px;
}

.whitespace-free-hero{
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: #4F9CF9;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    transition: background-color 200ms;
    font-size: 18px;
}

.whitespace-free-hero:hover {
    background-color: #4489dd;
    cursor: pointer;
}

.whitespace-free:hover {
    background-color: #4489dd;
    cursor: pointer;

}

.btms {
    display: flex;
    gap: 24px;
}

.hero-img{
    width: 824px;
    height: 549px;
}

.hero-container {
    display: flex;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 140px;

}

.hero-text {
    color: white;
}

.hero-text h1{
    font-size: 64px;
    font-weight: bold;
    margin: 0 0 60px 0;
    /*padding-bottom: 60px;*/
}

.hero-text p {
    font-size: 18px;
    line-height: 30px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
}

.management{
    background-image: url("./img/background.svg");
    background-repeat: no-repeat;
    background-position: 0 265px;
}

.management-container {
    display: flex;
    align-items: center;
    gap: 60px;
    background-image: url("./img/yellow-vector.svg");
    background-repeat: no-repeat;
    background-position: 0 220px;
    background-size: 482px 29px;

}

.management-text h2{
    font-size: 72px;
    font-weight: bold;
    padding-bottom: 24px;
}

.management-text p2 {
    font-size: 18px;
    line-height: 30px;
    color: #212529;
}

.management-text {
    padding-bottom: 60px;
}

.manage-btn {
    background-color: #4F9CF9;
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    transition: background-color 200ms;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.manage-btn:hover{
    background-color: #4489dd;
}

.manage-btn {
    display: flex;
    gap: 10px;
}

.manage-btn img {
    height: 14px;
    width: 14px;
}

.management-img img{
    width: 748px;
    height: 547px;

}

section {
    padding: 140px 0 100px 0;
}

.work-img {
    width: 710px;
    height: 661px;
}

.work-container {
    display: flex;
    gap: 100px;
    align-items: center;
    background-image: url("./img/yellow-vector.svg");
    background-repeat: no-repeat;
    background-position: 1000px 245px;
    background-size: 298px 28px;
}

.work-together {
    padding-top: 40px;
}

.work-text h2 {
    font-size: 72px;
    font-weight: bold;
    padding-bottom: 24px;
}

.work-text p {
    font-size: 18px;
    line-height: 30px;
}

.work-text {
    margin:  0 0 60px;
}